<!DOCTYPE html>
{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html dir="rtl" lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    <div class="container-fluid" style="text-align: right" dir="rtl" lang="he">
        <h1>CHAT BOARD</h1><br><br>
        
        
        <div id="chat-container h-50"></div>
        <div class="row">
            <input class="form-control w-50" id="msg_input" name="msg_input">
            <a id="send_btn" href="#" class='btn btn-success' onclick="sendMsg()">send</a>
        </div>
    </div>

    <script>
        
        function sendMsg(){

            var token = $('input[name="csrfmiddlewaretoken"]').attr('value')

            msg = document.getElementById("msg_input").value
            console.log("sending message: " + msg)
            $.ajax({
            headers: { 'X-CSRFToken': token },
            type: 'POST',    
            url: '{% url "send_message" %}',
            data: { 'message': msg },
            dataType: 'json',
            success: function (data) {
                console.log(data.message)
            }
        });
        }

    </script>
        <!-- <script type="text/javascript" src="{% static 'chat/chat_scripts.js' %}"></script> -->
        {% endblock %}
        {% block footer_scripts %}
        {% endblock footer_scripts %}
</body>

</html>