{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="text-align: right" dir="rtl" lang="he">

    <div class="row">
        <div class="col-md">
            <div class="card card-body h-100">
                <h5>מטופל/ת: {{ context.name }}</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="">עדכון פרטים</a>
                <a class='btn btn-outline-primary  btn-sm btn-block'  href="{% url 'create_questionnaire' %}" >שליחת שאלון</a>
                <br>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_patient' context.key %}">מחיקת משתמש</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body h-100">
                <h5>פרטי התקשרות</h5>
                <hr>
                <p>אימייל: {{ context.email }}</p>
                <p>טלפון: </p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body h-100">
                <h5>פעולה אחרונה</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button id="collapsebutton" class="accordion-button collapsed"  type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    צ'אט עם {{ context.name }} &nbsp; &nbsp;
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                        <div class="chat-container overflow-scroll">
                            <div id = "chat-messages-window">
                            </div>
                        </div>
                        <br>
                        <div class = "chat-input-field">
                            <input type="text" class="form-control" id="msg_input" placeholder="כתוב הודעה">
                            <button id="send_btn" class="btn btn-outline-success" onclick="sendMsg('{{ context.key }}')" href="#">שליחה</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>פעולה</th>
                        <th>תאריך</th>
                        <th>סטאטוס</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    const roomName = "{{ context.key }}" + "_" + "{{ context.doctor_id }}";
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {

        console.log("progress okease thank you")
        console.log(e.data)
        const data = JSON.parse(e.data);
        const recieved_msg = data.message
        
        
        const chatContainer = document.getElementById("chat-messages-window");
        let message = document.createElement("p");
        message.innerHTML = recieved_msg;
        message.classList.add('doctor-message');
        message.style.color = "black";
        message.style.fontSize = "1.3rem";
        
        chatContainer.appendChild(message);
        
        const token = $('input[name="csrfmiddlewaretoken"]').attr('value');
        
        $.ajax({
            headers: { 'X-CSRFToken': token },
            type: 'POST',
            url: '{% url "send_message" %}',
            data: {
                'message': recieved_msg,
                'patientKey': '{{ context.key }}'
            },
            dataType: 'json',
            success: function (payload) {
                console.log("got message" + payload.message);
            }
        });
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    // send message on Enter click
    const input = document.getElementById("msg_input");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode == 13) { // number 13 is the "Enter" key on the keyboard
            event.preventDefault();
            document.getElementById("send_btn").click(); // activate "send_btn"
        }
    });

    function sendMsg(patientKey) {
        const token = $('input[name="csrfmiddlewaretoken"]').attr('value');
        const msg = document.getElementById("msg_input").value.trim();

        if (msg == "") {
            console.log("empty message");
            window.alert("cannot send an empty message");
        }
        else {

            document.getElementById("msg_input").value = "";
            console.log("sending message: " + msg);
            chatSocket.send(JSON.stringify({
                'message': msg
            }));
        }
    }
</script>

{% endblock %}