{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="text-align: right" dir="rtl" lang="he">
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body h-100">
                <h5>מטופל/ת: {{ context.name }}</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="">עדכון פרטים</a>
                <a class="btn btn-outline-primary  btn-sm btn-block" href="{% url 'questions_repository' context.key %}">שליחת שאלונים</a>
                <a class="btn btn-outline-warning  btn-sm btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ context.name }}">שליחת מודעה</a>
                <br>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_patient' context.key %}">מחיקת משתמש</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body h-100">
                <h5>פרטי התקשרות</h5>
                <hr>
                
                <p>אימייל: <span id = patient_email>{{ context.email }}&nbsp;&nbsp;</span>
                    <a target="_self" href="#">
                        <span title="copy email"><img id="copy_img_email" src="{% static 'images/copy.png' %} " width="6%" height="10%" class="img-fluid"></span>
                    </a>
                </p>
               
                <p>
                    טלפון: <span id = patient_phone>{{ context.phone_number }}&nbsp;&nbsp;</span>
                    <a target="_self" href="#">
                        <span title="copy phone number"><img id="copy_img_phone" src="{% static 'images/copy.png' %} " width="6%" height="6%" class="img-fluid"></span>
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body h-100">
                <h5>פעולה אחרונה</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
            </div>
        </div>
    </div>

    <br>
    <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button id="collapsebutton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        צ'אט עם {{ context.name }} &nbsp; &nbsp;
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="chat-container overflow-scroll">
                            <div id="chat-messages-window">
                            </div>
                        </div>
                        <br>
                        <div class="chat-input-field">
                            <input type="text" class="form-control" id="msg_input" placeholder="כתוב הודעה">
                            <button id="send_btn" class="btn btn-outline-success"
                                onclick="sendMsg('{{ context.key }}', `{% url 'send_message' %}`)" href="#">שליחה</button>
                        </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>פעולה</th>
                        <th>תאריך</th>
                        <th>סטאטוס</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">שליחת התראה ל {{ context.name }}</h5>
            
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <div class="form-group">
                            <h6 id="count"></h6>
                            <label for="message-text" class="col-form-label">מודעה:</label>
                            <textarea name="message-text" maxlength="240" class="form-control" id="message-text" placeholder="יש לכתוב את המודעה כאן"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">יציאה</button>
                    <button type="button"  class="btn btn-primary" onclick="sendAnnouncement()">שליחת מודעה</button>
                </div>
            </div>
        </div>
    </div>

</div>





<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/patient.js' %}"></script>
<script>

    function sendAnnouncement(){
          const token = $('input[name="csrfmiddlewaretoken"]').attr('value');

          const message = document.getElementById("message-text")
          console.log(message.value.trim())

        $.ajax({
            headers: { 'X-CSRFToken': token },
            type: 'POST',
            url: `{% url 'push_notification' %}`,
            data: {
                'message': message.value.trim(),
                'patient_key' : '{{ context.key }}'
            },
            dataType: 'json',
            success: function (event) {
                console.log("i pushed the thing");
            },
            error: function(event){
                //TODO: code stub
            }
        });
    }

    document.getElementById('message-text').onkeyup = function () {
            document.getElementById('count').innerHTML = "240/" + (240 - this.value.length);
        };

    // const myModal = document.getElementById("exampleModal");
    // myModal.addEventListener("show.bs.modal", function (event){
    //     var button = $(event.relatedTarget); // Button that triggered the modal
    //     var recipient = button.data('whatever'); // Extract info from data-* attributes
    //     // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    //     // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    //     var modal = $(this);
    //     modal.find('.modal-title').text('New message to ' + recipient);
    //     modal.find('.modal-body input').val(recipient);

        
    // });

     window.addEventListener('DOMContentLoaded', (event) => {
        initializeSocket(
            "{{ context.key }}", 
            "{{ context.doctor_id }}",  
            "{% url 'send_message' %}"
        );
    });

    window.addEventListener('beforeunload', function(event){
        const token = $('input[name="csrfmiddlewaretoken"]').attr('value');

           $.ajax({
            headers: { 'X-CSRFToken': token },
            type: 'POST',
            url: `{% url 'close_stream' %}`,
            data: {
                'event': 'closing stream',
            },
            dataType: 'json',
            success: function (event) {
                console.log("the stream should be closed now");
            }
        });

    });
    
</script>
{% endblock %}