{% extends 'main.html' %}

{% block content %}

    <!-- <div class="input-group mb-3 w-50 mx-auto">
        <input type="search" class="form-control rounded" placeholder="חיפוש לפי שם" aria-label="Search"
            aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">חיפוש</button>
    </div> -->

<div class="container-fluid" style="text-align: right" dir="rtl" lang="he">

    <div class="input-group mb-3 w-50 mx-auto">
        <form action="{% url 'search_patient_by_keyword' %}">
            <input type="text" placeholder="חיפוש" name="search">
            {% csrf_token %}
            <button type="submit">חיפוש</button>
        </form>
    </div>

    <table class="table" style="text-align: right" dir="rtl">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">שם</th>
                <th scope="col">תאריך לידה</th>
                <th scope="col">אימייל</th>
            </tr>
        </thead>
        <tbody>
            <!-- user searched for patients -->
            {% if patients is None %}
                {% for pat in search_results %}
                <tr>
                    <td scope="row"> {{forloop.counter}}</td>
                    <td scope="row"><a href="{% url 'patient' pat.key %}">{{ pat.name }}</a></td>
                    <td scope="row">{{ pat.date_of_birth }}</td>
                    <td scope="row">{{ pat.email }}</td>
                </tr>
                {% endfor %}
            {% else %} sdsd
                {% for pat in patients %}
                <tr>
                    <td scope="row"> {{forloop.counter}}</td>
                    <td scope="row"><a href="{% url 'patient' pat.key %}">{{ pat.name }}</a></td>
                    <td scope="row">{{ pat.date_of_birth }}</td>
                    <td scope="row">{{ pat.email }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>



{% endblock %}