{% extends 'main.html' %}
{% block content %}

<h1 dir="rtl">התחברות</h1>
<br />

<div class="mb-3">
    <form class="site-form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login">
        
        <!-- If user tried to access a member page without logging in first, 
        redirect to login page, and upon login success, redirect to the requested page -->
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
            
    </form>
</div>

{% endblock %}