#formTitle {
    text-align: center;
}

#chat-container {
    position: relative;
}

#contentBottom {
    position: absolute;
    bottom: 0;
}

#copy-img-email {
    width: 5%;
    height: auto;
    float: left;
}

#copy-img-phone {
    width: 5%;
    height: auto;
    float: left;
}
