#formTitle {
    text-align: center;
}

#chat-container {
    position: relative;
}

#contentBottom {
    position: absolute;
    bottom: 0;
}

#copy-img-email {
    width: 5%;
    height: auto;
    float: left;
}

#copy-img-phone {
    width: 5%;
    height: auto;
    float: left;
}

.form-delete {
    margin:0px; padding:0px; display:inline;
}

.fade-in-row {
  animation: fadeIn  1.2s;
  -webkit-animation: fadeIn  1.2s;
  -moz-animation: fadeIn  1.2s;
  -o-animation: fadeIn  1.2s;
  -ms-animation: fadeIn  1.2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}